Body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 20px;
}

.link {

  background-color: #004792;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
.link:hover,
.link:focus {
  background-color: #0077c0;
}

.anchor {
  color: #004792;
}

thead {
  background-color: #E1EBEE;
}

.link1 {
  position: relative;
  top: 30px;
}

a {
  color: #004792;
}
